<div class="flat-view">
	<div class="modal-header">
		<h3 class="modal-title">Tower View</h3>
	</div>
	<div class="modal-body">
		<div class="row">
		<div class="col-md-9">
			<div ng-repeat="flat in vm.flatList | orderBy:'flat.flatNumber':true">
				<div class="clearfix" ng-if="$index % 4 == 0"></div>
	        <!--    <div class="square" ng-class="{'warning': flat.vacant , 'success': flat.isOwnerResident } ">  --> 
	            <div class="square">
				    <div class="content">
				        {{flat.flatNumber}}
				    </div>
				</div>
	        </div>	
		</div>
		<div class="col-md-3">
			<div ng-repeat="flat in vm.flatListSample | orderBy:'flat.address':true" class="flat-sample">
	     <!--   <div class="square" ng-class="{'warning': flat.vacant && !flat.isMember, 'danger': flat.isOwnerResident && flat.isMember, 'success': flat.isOwnerResident && !flat.isMember } "> --> 
				 <div class="square">
				    <div class="content">
				        {{flat.flatNumber}}
				    </div>
				</div>
				<div class="desc">{{flat.floorNumber}}</div>
	        </div>	
		</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-warning" type="button" ng-click="vm.cancel()">Close</button>
	</div>
</div>